html, body {
	font-size: 1.2em;
}

h1, h2 {
	font-family: monospace, monospace;
}

code {
	color: #9cf;
	background-color:#036;
	overflow: auto;
}

code, pre {
  font-family: monospace;
	padding: 4px;
}

pre {
  background-color:#036;
  color:#9cf;
  overflow: auto;
	line-height:1.5;
}

.post {
	border-bottom: 1px solid #ddd;
}

img {
  max-width: 99vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.center { text-align: center; clear: both; width: 100%; }
